.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    background-color: var(--nav-bg);
    padding-inline: 1.5rem;
}

.nav_sub{
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.nav a{
    color: var(--color-text);
}