.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    background-color: var(--nav-bg);
    padding-inline: 1.5rem;
}

.nav_sub{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logout{
    padding: 0.4rem 0.75rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.nav a{
    color: var(--color-text);
    font-size: 0.8rem;
}